/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 * 	1) hint--top
 * 	2) hint--bottom
 * 	3) hint--left
 * 	4) hint--right
 */

@mixin vertical-positioned-tooltip($propertyY, $transitionDirection, $xDirection:0) {
	&::before {
		// get the arrow out
		margin-#{$propertyY}: -2 * $hintArrowBorderWidth;
	}

	&::before,
	&::after {
		#{$propertyY}: 100%;
		left: 50%;
	}

	$translateX: -50%;
	@if $xDirection == -1 {
		$translateX: -100%;
	} @elseif $xDirection == 1 {
		$translateX: 0;
	}

	&::after,
	&::before {
		@include vendor('transform', translateX($translateX));
	}

	&::after {
		@if $xDirection != 0 {
			// bring back the tooltip by some offset so that arrow doesn't stick at end
			margin-left: -$xDirection * $hintArrowOffsetX;
		}
	}

	&:hover,
	&:focus {
		@include set-margin('translateY', $transitionDirection, $translateX);
	}
}

@mixin horizontal-positioned-tooltip($propertyX, $transitionDirection) {
	&::before {
		// get the arrow out
		margin-#{$propertyX}: -2 * $hintArrowBorderWidth;
		// bring back to center
		margin-bottom: -1 * $hintArrowBorderWidth;
	}

	&::after {
		// bring back to center
		margin-bottom: -1 * floor($hintTooltipHeight / 2);
	}

	&::before,
	&::after {
		#{$propertyX}: 100%;
		bottom: 50%;
	}

	&:hover,
	&:focus {
		@include set-margin('translateX', $transitionDirection);
	}
}


/**
 * set default color for tooltip arrows
 */
@include arrow-border-color($hintDefaultColor);

/**
 * top tooltip
 */
.#{$hintPrefix}top {
	@include vertical-positioned-tooltip('bottom', -1);
}

/**
 * bottom tooltip
 */
.#{$hintPrefix}bottom {
	@include vertical-positioned-tooltip('top', 1);
}

/**
 * right tooltip
 */
.#{$hintPrefix}right {
	@include horizontal-positioned-tooltip('left', 1);
}

/**
 * left tooltip
 */
.#{$hintPrefix}left {
	@include horizontal-positioned-tooltip('right', -1);
}

/**
 * top-left tooltip
 */
.#{$hintPrefix}top-left {
	@include vertical-positioned-tooltip('bottom', -1, -1);
}


/**
 * top-right tooltip
 */
.#{$hintPrefix}top-right {
	@include vertical-positioned-tooltip('bottom', -1, 1);
}

/**
 * bottom-left tooltip
 */
.#{$hintPrefix}bottom-left {
	@include vertical-positioned-tooltip('top', 1, -1);
}


/**
 * bottom-right tooltip
 */
.#{$hintPrefix}bottom-right {
	@include vertical-positioned-tooltip('top', 1, 1);
}
