/**
 * source: hint-effects.scss
 *
 * Defines various transition effects for the tooltips.
 *
 * Classes added:
 * 	1) hint--no-animate
 * 	2) hint--bounce
 *
 */

// Remove animation from tooltips.
.#{$hintPrefix}no-animate {
	&::before,
	&::after {
		@include vendor('transition-duration', 0);
	}
}

// Bounce effect in tooltips.
.#{$hintPrefix}bounce {
	&::before,
	&::after {
		-webkit-transition: opacity .3s ease, visibility .3s ease, -webkit-transform .3s cubic-bezier(.71, 1.7, .77, 1.24);
		-moz-transition: opacity .3s ease, visibility .3s ease, -moz-transform .3s cubic-bezier(.71, 1.7, .77, 1.24);
		transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.71, 1.7, .77, 1.24);
	}
}
