.hint {
	position: relative;
	display: inline-block;
}

.hint:before, .hint:after {
	position: absolute;
	opacity: 0;
	z-index: 1000000;
  	pointer-events: none;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
}

.hint:hover:before, .hint:hover:after {
	opacity: 1;
}

/*
 * tooltip arrow
 */
.hint:before {
	content: '';
	position: absolute;
	background: transparent;
	border: $arrowBorderWidth solid transparent;
	// move z-index 1 up than :after so that it shows over box-shadow
	z-index: 1000001;
}



/*
 * tooltip body
 */
.hint:after {
	content: attr(data-hint);
	background: $defaultColor;
	color: white;
	text-shadow: 0 -1px 0px darken($defaultColor, 20%);
	padding: 8px 10px;
	font-size: 12px;
	white-space: nowrap;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}