// hint.base.scss
//
// Aggregates all other sass files to create a basic functional tooltip.
// This doesn't have any of the cosmetic features of the library.

/*-------------------------------------*\
	HINT.css - A CSS tooltip library
\*-------------------------------------*/


/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/lab/hint/
 *
 */

@import "hint-variables";
@import "hint-mixins";
@import "hint-core";
@import "hint-position";
@import "hint-sizes";
@import "hint-always";