/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 * 
 * Classes added:
 * 	1) hint--always
 * 	
 */

// mixin to set margin on tooltip using translate transform
@mixin set-margin($property, $transitionDirection) {
	&:after, &:before {
		-webkit-transform: #{$property}($transitionDirection * $transitionDistance);
		-moz-transform: #{$property}($transitionDirection * $transitionDistance);
		transform: #{$property}($transitionDirection * $transitionDistance);
	}
}

.hint--always {
	&:after, &:before {
		opacity: 1;
	}

	&.hint--top {
		@include set-margin('translateY', -1);
	}

	&.hint--bottom {
		@include set-margin('translateY', 1);
	}

	&.hint--left {
		@include set-margin('translateX', -1);
	}

	&.hint--right {
		@include set-margin('translateX', 1);
	}
}

