/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 * 	1) body (:after)
 * 	2) arrow (:before)
 *
 * Classes added:
 * 	1) hint
 */

[data-hint] {
	display: inline-block;
	position: relative;

	&::before,
	&::after {
		position: absolute;

		// HACK: Trigger hardware accelerated rendering, otherwise transform was not
		// working on a hidden element
		@include vendor('transform', translate3d(0, 0, 0));

		// HACK: visibility is set to hidden because IE & Opera don't support
		// pointer-events on HTML content yet because of which hovering a hidden tooltip
		// shows the tooltip.
		opacity: 0;
		// shouldn't receive pointer events, otherwise even hovering tooltip will make it appear
		pointer-events: none;
		visibility: hidden;
		z-index: $hintZIndex;

		@include vendor('transition', .3s ease);
		@include vendor('transition-delay', $hintHideDelay);
	}

	&:hover {
		&::before,
		&::after {
			// $hintShowDelay will apply as soon as element is hovered.
			@include vendor('transition-delay', $hintShowDelay);
			visibility: visible;
			opacity: 1;
		}
	}

	/**
	 * tooltip arrow
	 */
	&::before {
		background: transparent;
		border: $hintArrowBorderWidth solid transparent;
		content: '';
		position: absolute;
		// move z-index 1 up than :after so that it shows over box-shadow
		z-index: $hintZIndex + 1;
	}

	/**
	 * tooltip body
	 */
	&::after {
		background: $hintDefaultColor;
		color: #fff;
		content: attr(data-hint); // The magic!
		font-family: $hintFontFamily;
		font-size: $hintFontSize;
		line-height: $hintFontSize; // Vertical centering.
		padding: $hintVerticalPadding $hintHorizontalPadding;
		white-space: nowrap; // Prevent breaking to new line.
	}
}

[data-hint=''] {
	&::before,
	&::after {
		display: none !important;
	}
}
